*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lavender;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 0.8rem purple;
    font-size: 11vmin;
    color: rgb(114, 18, 204);
}
#Reset-btn{
    height: 40px;
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
    background-color: blueviolet;
    color: bisque;
}
#new-btn{
    height: 40px;
    width: 200px;
    font-size: 20px;
    border-radius: 8px;
    background-color: blueviolet;
    color: bisque;
}
.winner p{
    color: blueviolet;
    font-size: 6vmin;
}
.winner{
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: auto;
    margin-top: 24%;
}
.hide{
    display: none;
}